Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["__manage_s3_bucket_name__"]
          roleName: "__manage_s3_access_ec2_role_name__"
files:
    # Private key
    "/etc/pki/tls/certs/server.key":
        mode: "000400"
        owner: root
        group: root
        authentication: "S3Auth"
        source: https://__manage_s3_bucket_name__.s3.amazonaws.com/private_key.txt

    # Private cert
    "/etc/pki/tls/certs/server.crt":
        mode: "000400"
        owner: root
        group: root
        authentication: "S3Auth"
        source: https://__manage_s3_bucket_name__.s3.amazonaws.com/private_cert.txt

    # Prestart apache server
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            sudo service httpd restart
