container_commands:
  001_dbcp_jar:
    command: "cp  /tmp/deployment/application/ROOT/.ebextensions/Enlighted/tomcat-dbcp.jar /usr/share/java/tomcat8/"
    ignoreErrors: true
  002_01_var_lib_tomcat:
      command: "cp -R .ebextensions/Enlighted /var/lib/tomcat8/"
      ignoreErrors: true
  002_02_var_lib_tomcat_Permission:
      command: "sudo chmod -R 777 /var/lib/tomcat8/Enlighted/*"
      ignoreErrors: true
  002_03_var_lib_tomcat_tmp_Permission:
       command: "sudo chmod -R 777 /var/lib/tomcat8/Enlighted/tmp/*"
       ignoreErrors: true
  003_Context:
    command: "cp  /tmp/deployment/application/ROOT/.ebextensions/Enlighted/context.xml /etc/tomcat8/"
    ignoreErrors: true
  004_PSQL:
    command: "cp  /tmp/deployment/application/ROOT/.ebextensions/Enlighted/postgresql-9.4.1212.jar /usr/share/java/tomcat8/"
    ignoreErrors: true
  006_PEM:
    command: "cp  /tmp/deployment/application/ROOT/.ebextensions/Enlighted/rds-ca-2019-root.pem /usr/share/java/tomcat8/"
    ignoreErrors: true
  007_AUTHADMIN_SCRIPT:
    command: "sudo ln -s /var/lib/tomcat8/Enlighted/authadmin.sh /bin/authadmin.sh"
    ignoreErrors: true
  008_LOGS_PERMISSION:
      command: "sudo chmod -R 777 /var/log/tomcat8/"
      ignoreErrors: true
  009_PASSPHRASE:
      command: "cp  /tmp/deployment/application/ROOT/.ebextensions/Enlighted/passphrase.sh /var/lib/tomcat8/Enlighted/passphrase.sh"
      ignoreErrors: true
  010_EMC_MODE_CONTROL_SCRIPT:
        command: "sudo ln -s /var/lib/tomcat8/Enlighted/checkandsetemmode.sh /bin/checkandsetemmode.sh"
        ignoreErrors: true

