packages:
  yum:
    awslogs: []
    jq: []

files:
  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/tomcat8/catalina.out]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/catalina.out
      file = /var/log/tomcat8/catalina.out

      [/var/log/tomcat8/EMS.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS.log
      file = /var/log/tomcat8/EMS.log

      [/var/log/tomcat8/EMS_BackupRestore_prompt.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_BackupRestore_prompt.log
      file = /var/log/tomcat8/EMS_BackupRestore_prompt.log

      [/var/log/tomcat8/EMS_Fixture.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_Fixture.log
      file = /var/log/tomcat8/EMS_Fixture.log

      [/var/log/tomcat8/EMS_DLG.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_DLG.log
      file = /var/log/tomcat8/EMS_DLG.log

      [/var/log/tomcat8/EMS_PLUGLOAD.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_PLUGLOAD.log
      file = /var/log/tomcat8/EMS_PLUGLOAD.log

      [/var/log/tomcat8/EMS_SYS.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_SYS.log
      file = /var/log/tomcat8/EMS_SYS.log

      [/var/log/tomcat8/EMS_Switch.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_Switch.log
      file = /var/log/tomcat8/EMS_Switch.log

      [/var/log/tomcat8/EMS_SSL.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_SSL.log
      file = /var/log/tomcat8/EMS_SSL.log

      [/var/log/tomcat8/EMS_Profile.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_Profile.log
      file = /var/log/tomcat8/EMS_Profile.log

      [/var/log/tomcat8/EMS_DR.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_DR.log
      file = /var/log/tomcat8/EMS_DR.log

      [/var/log/tomcat8/EMS_Pricing.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_Pricing.log
      file = /var/log/tomcat8/EMS_Pricing.log

      [/var/log/tomcat8/EMS_Comm.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_Comm.log
      file = /var/log/tomcat8/EMS_Comm.log

      [/var/log/tomcat8/EMS_Bacnet.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_Bacnet.log
      file = /var/log/tomcat8/EMS_Bacnet.log

      [/var/log/tomcat8/EMS_ImageUpgrade.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_ImageUpgrade.log
      file = /var/log/tomcat8/EMS_ImageUpgrade.log

      [/var/log/tomcat8/EMS_PERF.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_PERF.log
      file = /var/log/tomcat8/EMS_PERF.log

      [/var/log/tomcat8/EMS_DISCOVERY.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_DISCOVERY.log
      file = /var/log/tomcat8/EMS_DISCOVERY.log

      [/var/log/tomcat8/EMS_Audit.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_Audit.log
      file = /var/log/tomcat8/EMS_Audit.log

      [/var/log/tomcat8/EMS.RDB.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS.RDB.log
      file = /var/log/tomcat8/EMS.RDB.log

      [/var/log/tomcat8/EMS_Webservices.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_Webservices.log
      file = /var/log/tomcat8/EMS_Webservices.log

      [/var/log/tomcat8/EMS_Timing.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_Timing.log
      file = /var/log/tomcat8/EMS_Timing.log

      [/var/log/tomcat8/EMS_LDAP.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_LDAP.log
      file = /var/log/tomcat8/EMS_LDAP.log

      [/var/log/tomcat8/EMS_Scheduler.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_Scheduler.log
      file = /var/log/tomcat8/EMS_Scheduler.log

      [/var/log/tomcat8/EMS_PKT.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_PKT.log
      file = /var/log/tomcat8/EMS_PKT.log

      [/var/log/tomcat8/EMS_KAFKA.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_KAFKA.log
      file = /var/log/tomcat8/EMS_KAFKA.log

      [/var/log/tomcat8/EMS_EMAILNOTIFICATION.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_EMAILNOTIFICATION.log
      file = /var/log/tomcat8/EMS_EMAILNOTIFICATION.log

      [/var/log/tomcat8/EMS_GWSTATS.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMS_GWSTATS.log
      file = /var/log/tomcat8/EMS_GWSTATS.log

      [/var/log/tomcat8/EMC_AMAZE_SYNC.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "ems"]]}`
      log_stream_name = {instance_id}/EMC_AMAZE_SYNC.log
      file = /var/log/tomcat8/EMC_AMAZE_SYNC.log


commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart
